.leadingTitle {
  font-size: 18px;
  font-weight: 700;
  color: #2d3748;
  margin: 24px 0 12px 0;
  padding: 0;
}

@media (min-width: 769px) {
  .leadingTitle {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .leadingTitle {
    font-size: 1rem;
  }
}
